
    public function testCompleteScenario()
    {
        $client = $this->getClient();
        
        // login as user
        $this->login('user@localhost');
        
        // --- simple tests if admin stuff is forbidden to normal user ---
        
        // GET is authorized, but probably nothing there
        $data = $this->jsonRequest('GET', '/{{ route_prefix }}/');

        // POST, PATCH and DELETE are unauthorized for user
        $this->jsonRequest("POST", "/{{ route_prefix }}/", null, 403);
                
        // GET single is authorized, but no response
        $this->jsonRequest("GET", "/{{ route_prefix }}/1", null, 404);
                
        // login as admin
        $this->login('admin@localhost');
        
        // --- test stuff with admin ---

        // first GET might be empty, but doesn't need to be, simply check if is array
        $data = $this->jsonRequest('GET', '/{{ route_prefix }}/');
        $this->assertTrue(is_array($data));
        $count = count($data);

        // test when doesn't exist
        $this->jsonRequest("PATCH", "/{{ route_prefix }}/1", null, 404);
        $this->jsonRequest("DELETE", "/{{ route_prefix }}/1", null, 404);
        
        // POST new
        $data = $this->jsonRequest('POST', '/{{ route_prefix }}/', [
            '{{ form_type_name|lower }}'=>[
                'name' => 'Blaat',
                // more fields...
            ]
        ]);
        $this->assertTrue(is_object($data));
        $this->assertEquals('Test', $data->name);
        $this->assertGreaterThan(0, $data->id);
        $id = $data->id;
               
        // quick test if a normal user cannot patch or delete
        $this->login('user@localhost');
        $this->jsonRequest("PATCH", "/{{ route_prefix }}/$id", null, 403);
        $this->jsonRequest("DELETE", "/{{ route_prefix }}/$id", null, 403);
        $this->login('admin@localhost');
        
        // GET all (this time should have results)
        $data = $this->jsonRequest('GET', '/{{ route_prefix }}/');
        $this->assertGreaterThan($count, count($data));
        $last = end($data);
        $this->assertTrue(is_object($last));
        $this->assertEquals($last->name, 'Test');
        $this->assertEquals($id, $last->id);

        // GET single by id
        $data = $this->jsonRequest('GET', "/{{ route_prefix }}/$id");
        $this->assertTrue(is_object($data));
        $this->assertEquals('Test', $data->name);
        $this->assertEquals($id, $data->id);

        // PATCH single by id
        $data = $this->jsonRequest('PATCH', "/{{ route_prefix }}/$id", [
            '{{ form_type_name|lower }}'=>[
                'name' => 'Blaat'
                // more fields...
            ]
        ]);
        $this->assertTrue(is_object($data));
        $this->assertEquals('Blaat', $data->name);
        $this->assertEquals($id, $data->id);

        // DELETE single by id
        $data = $this->jsonRequest('DELETE', "/{{ route_prefix }}/$id");
        $this->assertTrue($data);
    }
