
    public function testCompleteScenario()
    {
        // test without login
        $this->jsonRequest("GET", "/{{ route_prefix }}/", null, 401);
        $this->jsonRequest("GET", "/{{ route_prefix }}/1", null, 401);
        $this->jsonRequest("POST", "/{{ route_prefix }}/", null, 401);
        $this->jsonRequest("PATCH", "/{{ route_prefix }}/1", null, 401);
        $this->jsonRequest("DELETE", "/{{ route_prefix }}/1", null, 401);
        
    }
