{% extends 'email.html.twig' %}

{% block title %}Password Reset{% endblock %}

{% block body %}
<p>A password resetting link has been requested for <a href="http://www.solidtimesheet.com">Solid Timesheet.</a></p>

<p>
    Click the link below to set a new password.<br>
    <a href="http://www.solidtimesheet.com/reset-password/{{ token }}">http://www.solidtimesheet.com/reset-password/{{ token }}</a>
</p>

<p>If you did not request a new password, you can simply ignore this e-mail.</p>
{% endblock %}