<?php

namespace Tests\{{ namespace }}\Controller{{ entity_namespace ? '\\' ~ entity_namespace : '' }};

{% block use_statements %}
use {{ namespace }}\AppTestCase;
{% endblock use_statements %}

{% block class_definition %}
/**
 * Full test scenario for {{ entity_class }} 
 *
 * @covers CustomerController::allAction
 * @covers CustomerController::getAction
 * @covers CustomerController::postAction
 * @covers CustomerController::patchAction
 * @covers CustomerController::deleteAction
 */
class {{ entity_class }}ControllerTest extends AppTestCase
{% endblock class_definition %}
{
{% block class_body %}
    /*

{%- if 'new' in actions %}
    {%- include 'crud/tests/others/full_scenario.php.twig' -%}
{%- else %}
    {%- include 'crud/tests/others/short_scenario.php.twig' -%}
{%- endif %}

    */
{% endblock class_body %}
}
