
    /**
{% block phpdoc_method_header %}
     * Deletes a {{ entity }} entity.
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/{id}")
     * @Method("DELETE")
     * @View()
     * @ApiDoc(
     *   requirements={ { "name"="id","dataType"="integer","requirement"="\d+","description"="id of {{ entity_singularized }}" } },
     *   parameters={ {"name"="{{ entity_singularized }}[name]","dataType"="string","required"=true,"description"="(auto generated, please check me!)"} },
     *   description="DELETE single {{ entity }} by id"
     * )
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function deleteAction(Request $request, {{ entity_class }} ${{ entity_singularized }})
{% endblock method_definition %}
    {
{% block method_body %}
        $em = $this->getDoctrine()->getManager();
        $em->remove(${{ entity_singularized }});
        $em->flush();        
{% endblock method_body %}

{% block method_return %}
        return true;
{% endblock method_return %}
    }