
    /**
{% block phpdoc_method_header %}
     * Displays a form to edit an existing {{ entity }} entity.
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/{id}")
     * @Method("PATCH")
     * @View()
     * @ApiDoc(
     *   requirements={ { "name"="id","dataType"="integer","requirement"="\d+","description"="id of {{ entity_singularized }}" } },
     *   parameters={ {"name"="{{ entity_singularized }}[name]","dataType"="string","required"=true,"description"="(auto generated, please check me!)"} },
     *   description="PATCH single {{ entity_singularized }} by id"
     * )
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function patchAction(Request $request, {{ entity_class }} ${{ entity_singularized }})
{% endblock method_definition %}
    {
{% block method_body %}
        $form = $this->createForm({{ entity_class }}Type::class, ${{ entity_singularized }}, array('method' => 'PATCH'));

        $form->handleRequest($request);
        if (!$form->isSubmitted()) {
            throw new BadRequestHttpException("Form was not submitted. Data should be wrapped in formname (ex ['{{ entity_singularized }}'=>['name'=>'test']]).");
        }
        if (!$form->isValid()) {
            return $form;
        }
        
        $em = $this->getDoctrine()->getManager();
        $em->flush();        
{% endblock method_body %}

{% block method_return %}
        return ${{ entity_singularized }};
{% endblock method_return %}
    }
