    /**
{% block phpdoc_method_header %}
     * Lists all {{ entity }} entities.
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/")
     * @Method("GET")
     * @View()
     * @ApiDoc(
     *   description="GET all {{ entity_pluralized }}"
     * )
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function indexAction()
{% endblock method_definition %}
    {
{% block method_body %}
        $em = $this->getDoctrine()->getManager();

        /* @var $repository \AppBundle\Repository\{{ entity }}Repository */
        $repository = $em->getRepository('{{ bundle }}:{{ entity }}');

        /* @var ${{ entity_pluralized }} {{ entity }}[] */
        ${{ entity_pluralized }} = $repository->findAll();
{% endblock method_body %}

{% block method_return %}
        return ${{ entity_pluralized }};
{% endblock method_return %}
    }
