
    /**
{% block phpdoc_method_header %}
     * Creates a new {{ entity }} entity.
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/")
     * @Method("POST")
     * @ApiDoc(
     *   description="POST {{ entity_singularized }}",
     *   parameters={ {"name"="{{ entity_singularized }}[name]","dataType"="string","required"=true,"description"="(auto generated, please check me!)"} },
     * )
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function postAction(Request $request)
{% endblock method_definition %}
    {
{% block method_body %}
        /* @var $organization AppBundle\Entity\Organization */
        $organization = $this->get('security.token_storage')->getToken()->getUser()->getOrganization();
    
        ${{ entity_singularized }} = new {{ entity_class }}($organization);
        $form = $this->createForm({{ entity_class }}Type::class, ${{ entity_singularized }});

        $form->handleRequest($request);
        if (!$form->isSubmitted()) {
            throw new BadRequestHttpException("Form was not submitted. Data should be wrapped in formname (ex ['{{ entity_singularized }}'=>['name'=>'test']]).");
        }
        if (!$form->isValid()) {
            return $form;
        }
        
        $em = $this->getDoctrine()->getManager();
        $em->persist(${{ entity_singularized }});
        $em->flush();
{% endblock method_body %}

{% block method_return %}
        return ${{ entity_singularized }};
{% endblock method_return %}
    }
