
    /**
{% block phpdoc_method_header %}
     * Finds and displays a {{ entity }} entity.
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/{id}")
     * @Method("GET")
     * @ParamConverter()
     * @View()
     * @ApiDoc(
     *   requirements={ { "name"="id","dataType"="integer","requirement"="\d+","description"="id of {{ entity_singularized }}" } },
     *   description="GET single {{ entity_singularized }} by id"
     * )
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function showAction({{ entity_class }} ${{ entity_singularized }})
{% endblock method_definition %}
    {
{% block method_body %}
{% endblock method_body %}

{% block method_return %}
        return ${{ entity_singularized }};
{% endblock method_return %}
    }
